
body{
    background-color: #30232C;
    margin: 5em;
  }

h2{
    color: #fff;
}

p {
    color: #A2B266
}

div{
    color: #A2B266
}
/* .updatebutton {
    background-color: blue;
} */

.caption-container{
    height: 300px;
    width: 200px;
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}